<header>
    {{> navbarmini}}
</header>




<div class="research-trailer-image">
    <img class="img-fluid" src="/resource/research-icon/assistive-robots-main.jpg"></img>
</div>
<div class="container">
    <p class="badge badge-primary research-badge">Research Project</p>
    <h2>Assistive Robots for People with Visual Impairments</h2>
    <h4>Collaborators</h4>
    <ul>
        <li>Amal Nanavati</li>
        <li>Elizabeth Carter</li>
        <li>Álvaro Castro-González</li>
        <li>Aaron Steinfeld</li>
    </ul>
    <h5>Descriptions</h5>
    <p>
        These projects explored how different robotic technologies could be used to assist people with visual
        impairment. Our project focuses on the challenging area of indoor navigation where there is a lack of reliable
        global localization (GPS,etc) and non-uniform architectural designs. We investigate how different types of
        robot, such as stationary robots, mobile robots, and handhold robots may be used for this purpose. These studies
        were conducted through iterative design with end-users to develop technologies that are truly useful for
        them.
    </p>
    <h5>Related Papers</h5>
    <ul>
        <li><a href="/papers/roman18-spherical-robot">RoMAN18 - Haptic Interaction for Human-Robot Communication Using a
                Spherical Robot</a></li>
        <li><a href="https://dl.acm.org/citation.cfm?id=3176976">Coupled Indoor Navigation for People Who Are Blind</a>
        </li>
        <li><a href="https://dl.acm.org/citation.cfm?id=3176984">Social Haptic Interaction between Robots and Children
                with Disabilities</a></li>
        <li>Using Robot Manipulation to Assist Navigation by People Who Are Blind or Low Vision</li>
        <li>Communication through Movement:An Alternative Method of Interaction for HRI</li>
    </ul>
</div>