<header>
    {{> navbarmini}}
</header>




<div class="research-trailer-image">
    <img class="img-fluid" src="/resource/research-icon/hri19-handover-main.jpg"></img>
</div>
<div class="container">
    <p class="badge badge-primary research-badge">Research Project</p>
    <h2>Exploring User Transition Between Robots</h2>
    <h4>Collaborators</h4>
    <ul>
        <li>Samantha Reig</li>
        <li>Elizabeth Carter</li>
        <li>Aaron Steinfeld</li>
    </ul>
    <h5>Descriptions</h5>
    <p>With the deployment of robots in our daily lives, it is highly likely that human users are going to interact with more than one robot every day. This project looks into how a user transitions from one robot to another as part of an interaction and explores how these robots should interact with each other in these scenarios.</p>
    <h5>Related Papers</h5>
    <ul>
        <li><a href="/papers/hri19-robot-transition">HRI19 - From One to Another: How Robot-Robot Interaction Affects
                Users’ Perceptions Following a Transition Between Robots</a></li>
    </ul>
</div>

{{!-- <h2 class="research-title">From One to Another: How Robot-Robot Interaction Affects Users’ Perceptions Following a Transition Between Robots</h2>
    <h4>Collaborators</h4>
    <ul>
        <li>Samantha Reig</li>
        <li>Elizabeth Carter</li>
        <li>Aaron Steinfeld</li>
    </ul>
    <h5>Abstract</h5>
    <p>Human-robot interactions that involve multiple robots are becoming common. It is crucial to understand how multiple robots should transfer information and transition users between them. To investigate this, we designed a 3 x 3 mixed-design study in which participants took part in a navigation task. Participants interacted with a stationary robot who summoned a functional (not explicitly social) mobile robot to guide them. Each participant experienced the three types of robot-robot interaction: representative (the stationary robot spoke to the participant on behalf of the mobile robot), direct (the stationary robot delivered the request to the mobile robot in a straightforward manner , and social (the stationary robot delivered the request to the mobile robot in a social manner). Each participant witnessed only one type of robot-robot communication: silent (the robots covertly communicated), explicit (the robots acknowledged that they were communicating), or reciting (the stationary robot said the request aloud). Our results show that it is possible to instill socialness in and improve likability of a functional robot by having a social robot interact socially with it. We also found that covertly exchanging information is less desirable than reciting information aloud.</p>
    <h5>Bibtex</h5>

    <h5>Additional Information</h5>
    <h5>Resources</h5>
    Github:
    Data:
    Survey Tools:
</div> --}}