<header>
    {{> navbar}}
</header>

<div class="research-trailer-image">
    <img class="img-fluid" src="/resource/research-icon/hri19-handover-main.jpg"></img>
</div>
<div class="container">
    <p class="badge badge-primary research-badge">Research Project</p>
    <h2>Exploring User Transition Between Robots</h2>
    <h4>Collaborators</h4>
    <ul>
        <li>Samantha Reig</li>
        <li>Elizabeth Carter</li>
        <li>Jodi Forlizzi</li>
        <li>Aaron Steinfeld</li>
    </ul>
    <h5>Descriptions</h5>
    <p>With the deployment of robots in our daily lives, it is highly likely that human users are going to interact with more than one robot every day. This project looks into how a user transitions from one robot to another as part of an interaction and explores how these robots should interact with each other in these scenarios.</p>
    <h5>Related Papers</h5>
    <ul>
        <li><a href="resource/PDFs/tan2021-person-transfer-taxonomy.pdf">HRI21 - Charting Sequential Person Transfers Between Devices, Agents, and Robots</a></li>
        <li><a href="/papers/hri19-robot-transition">HRI19 - From One to Another: How Robot-Robot Interaction Affects
                Users’ Perceptions Following a Transition Between Robots</a></li>
    </ul>
</div>