<header>
    <header>
        {{> navbarmini}}
    </header>


    <div class="research-trailer-image">
        <img class="img-fluid" src="/resource/research-icon/hri18-robot-abuse-main.jpg"></img>
    </div>
    <div class="container">
        <p class="badge badge-primary research-badge">Research Project</p>
        <h2>Preventing Robot Abuse</h2>
        <h4>Collaborators</h4>
        <ul>
            <li>Marynel Vázquez</li>
            <li>Elizabeth Carter</li>
            <li>Cecilia Morales</li>
            <li>Aaron Steinfeld</li>
        </ul>
        <h5>Descriptions</h5>
        <p>Among the challenges in the deployment of robots in the daily lives is the problem of people abusing robots.
            These actions may be malicious or simply the user being curious about the robot's capabilities. This project
            explores how these actions could be prevented and mitigated.</p>
        <h5>Related Papers</h5>
        <ul>
            <li><a href="/papers/hri18-robot-abuse">HRI18 - Inducing Bystander Interventions During Robot Abuse with
                    Social Mechanisms</a></li>
        </ul>
    </div>