<h1>Publications</h1>
<p>
    You can find the most up-to-date list on <a href="https://scholar.google.com/citations?user=vReuqbIAAAAJ&hl=en">Google Scholar</a> or on my <a href="https://www.dropbox.com/s/xhx3rbrvigcv842/CV_xiangzhitan.pdf?dl=0">Curriculum Vitae</a>.
</p>
<div>
    <h3>Conference Papers</h3>
    {{#each full}}
        <div>
        {{{this}}}
        </div> 
    {{/each}}
</div>

<div>
    <h3>Late-Breaking Reports & Workshop Papers</h3>
    {{#each report}}
        <div>
        {{{this}}}
        </div> 
    {{/each}}
</div>

