<header>
    {{> navbarmini}}
</header>




<div class="research-trailer-image">
    <img class="img-fluid paper-img" src="/resource/research-icon/hri18-robot-abuse-main.jpg"></img>
</div>
<div class="container">
    <p class="badge badge-success research-badge">Research Paper</p>
    <h2 class="research-title">Inducing Bystander Interventions During Robot Abuse with Social Mechanisms</h2>
    <h6><a href="https://dl.acm.org/citation.cfm?id=3171247">Paper Link</a> | <a href="/resource/PDFs/hri18-bystander-intervention-xiangzhitan.pdf">Download</a></h6>
    <h4>Collaborators</h4>
    <ul>
        <li>Marynel Vázquez</li>
        <li>Elizabeth Carter</li>
        <li>Cecilia G. Morales</li>
        <li>Aaron Steinfeld</li>
    </ul>
    <h5>Abstract</h5>
    <p>We explored whether a robot can leverage social influences to motivate nearby bystanders to intervene and
        defend them from human abuse. We designed a between-subjects study where 48 participants took part in a
        memorization task and observed a confederate mistreating a robot both verbally and physically. The robot was
        either empathetic towards the participant’s performance in the task or indifferent. When the robot was
        mistreated, it ignored the abuse, shut down in response to it, or reacted emotionally. We found that the
        majority of the participants intervened to help the robot after it was abused. Interventions happened for a wide
        range of reasons. Interestingly, the empathetic robot increased the proportion of participants that
        self-reported intervening in comparison to the indifferent robot, but more participants moved the robot as a
        response to abuse in the latter case. The participants also perceived the robot being verbally mistreated more
        and reported higher levels of personal distress when the robot briefly shut down after abuse in comparison to when
        it reacted emotionally or did not react at all.</p>
    <h5>Bibtex</h5>

    <h5>Additional Information</h5>
    <h5>Resources</h5>
    <ul class="list-unstyled">
        <li>Github:</li>
        <li>Survey Tools:</li>
        <li>Study Procedure:</li>
    </ul>
</div>