{{!-- <header>
    {{> navbarmini}}
</header> --}}




<div class="research-trailer-image">
    <img class="img-fluid research-main-img" src="/resource/research-icon/hri19-handover-main.jpg"></img>
</div>
<div class="container">
    <p class="badge badge-success research-badge">Research Paper</p>
    <h2 class="research-title">From One to Another: How Robot-Robot Interaction Affects Users’ Perceptions Following a
        Transition Between Robots</h2>
    <h6>Paper Link | <a href="/resource/PDFs/hri19-transition-xiangzhitan.pdf">Download</a></h6>
    <h4>Collaborators</h4>
    <ul>
        <li>Samantha Reig</li>
        <li>Elizabeth Carter</li>
        <li>Aaron Steinfeld</li>
    </ul>
    <h5>Abstract</h5>
    <p>Human-robot interactions that involve multiple robots are becoming common. It is crucial to understand how
        multiple robots should transfer information and transition users between them. To investigate this, we designed
        a 3 x 3 mixed-design study in which participants took part in a navigation task. Participants interacted with a
        stationary robot who summoned a functional (not explicitly social) mobile robot to guide them. Each participant
        experienced the three types of robot-robot interaction: representative (the stationary robot spoke to the
        participant on behalf of the mobile robot), direct (the stationary robot delivered the request to the mobile
        robot in a straightforward manner , and social (the stationary robot delivered the request to the mobile robot
        in a social manner). Each participant witnessed only one type of robot-robot communication: silent (the robots
        covertly communicated), explicit (the robots acknowledged that they were communicating), or reciting (the
        stationary robot said the request aloud). Our results show that it is possible to instill socialness in and
        improve likability of a functional robot by having a social robot interact socially with it. We also found that
        covertly exchanging information is less desirable than reciting information aloud.</p>
    <h5>Bibtex</h5>

    <h5>Additional Information</h5>
    <h5>Resources</h5>
    <ul class="list-unstyled">
        <li>Code:  <svg height="32" width="32" class="octicon octicon-mark-github" viewBox="0 0 16 16" version="1.1" aria-hidden="true"><path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
        </svg>
            <a href="https://github.com/CMU-ARM/HRI19-MultiRobot-Transition-Study">Link</a>
        <li>Survey Tools: To be updated</li>
        <li>Study Procedure: To be updated</li>
    </ul>
</div>