<header>
    {{> navbarmini}}
</header>

<div class="research-trailer-image">
    <img class="img-fluid" src="/resource/research-icon/hri19-handover-main.jpg"></img>
</div>
<div class="container">
    <p class="badge badge-success research-badge">Research Paper</p>
    <h2 class="research-title">Haptic Interaction for Human-Robot Communication Using a Spherical Robot</h2>
    <h4>Collaborators</h4>
    <h6><a href="https://ieeexplore.ieee.org/document/8525555">Paper Link</a> | <a href="/resource/PDFs/roman2018-spherical-robot.pdf">Download</a></h6>
    <ul>
        <li>Aaron Steinfeld</li>
    </ul>
    <h5>Abstract</h5>
    <p>We demonstrate a system of adding an additional human-robot communication channel using a spherical robot through
        kinesthetic haptic signals. While not designed for this type of interaction, we show that the robot could be
        used to generate kinesthetic haptic signals through asymmetric rotations. These rotations generate
        pseudo-rotations that are detectable in a user’s palm and can convey both rotational and directional information
        with proper training. We present two user studies that explore potential types of distinguishable haptic
        signals. While some participants were able to rapidly identify the different signals, other participants
        expressed the need for more training. We also describe use cases we believe would benefit from such interaction
        and general guidelines for spherical haptic devices.</p>
    <h5>Bibtex</h5>

    <h5>Additional Information</h5>
    <h5>Resources</h5>
    <ul class="list-unstyled">
        <li>Github:</li>
        <li>Survey Tools:</li>
        <li>Study Procedure:</li>
    </ul>
</div>