<footer class="mt-5 pt-3 pb-3 footer-local">
    <div class="row justify-content-center">
        <div class="col-6">Copyright 2020 - Xiang Zhi Tan</div>
    </div>
    {{!-- <div class="row">
        <div class="col-3 col-md"></div>
        <div class="col-6 col-md">
            <h5>Nav</h5>
            <ul class="list-unstyled text-small">
                <li><a href="/#Home">Home</a></li>
                <li><a href="/#Research">Research</a></li>
                <li><a href="/#CV">CV</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Contact</h5>
            <ul class="list-unstyled text-small">
                <li>zhi.tan {at} ri.cmu.edu</li>
                <li>github.com/xiangzhi</li>
            </ul>
        </div>
        <div class="col-3 col-md"></div>
    </div> --}}
</footer>